*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #36454F;
}
.clock{
    height: 400px;
    width: 400px;
    background-color: black;
    background-image: url("./images/clock.png");
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 10px yellow;
}
@keyframes rotation{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.hour{
    position: absolute;
    background-color: aqua;
    width: 8px;
    height: 150px;
    top: 50px;
    left: 200px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px yellow;
    animation: rotation 86400s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}
.minute{
    position: absolute;
    background-color: aqua;
    width: 6px;
    height: 180px;
    top: 20px;
    left: 200px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px yellow;
    animation: rotation 3600s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}
.second{
    position: absolute;
    background-color: red;
    width: 5px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px yellow;
    top: 80px;
    left: 200px;
    animation: rotation 60s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}
.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 10px yellow;
}